body{
    font-family: Arial,sans-serif;
    padding: 20px;
    background: #f8f9fa;
}

h1,h2{
    text-align: center;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

#cart {
    list-style: none;
    padding: 0;
}

#cart li{
    background-color: #fff;
    border: 1px solid  #ddd;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout{
    display: block;
    margin: 20px auto;
}